.linked-lists {
    list-style-type: none;
    width: 100%;
    text-align: left;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    
}

.button {
    display: inline;
    padding-right: 25px;
    text-decoration: none;
    font-size: 20px;
}

.link {
    text-decoration: none;
}

.icon {
    width: 150px;
    height: 175px;
}